body {
    font-size: 14px;
    font-family: "Moderat","Inter",sans-serif;
    font-weight: 400;
    color: #333;
}

#start-payment-button {
    cursor: pointer;
    position: relative;
    background-color: #ff9b00;
    color: #12122c;
    max-width: 30%;
    padding: 7.5px 16px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    transition: all .1s ease-in;
    vertical-align: middle;
}