@font-face {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    src: url(LSANS.TTF);
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e9f7ec;
    margin: 0;
}

.signup-container {
    background-color: #d9e7dc;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #516d66;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
    background-color: #8fc1b3;
    padding: 10px;
    border-radius: 5px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.signup-btn {
    background-color: #a9bfae;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    box-shadow: 0 3px #6d776e;
}

.signup-btn:hover {
    background-color: #8ea48f;
}
